body {
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
}

.message {
    font-size: 2em;
    background-color: #f76d6d;
    padding: 10px 20px;
    border-radius: 8px;
    animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
    0% { opacity: 0.5; transform: scale(0.95); }
    50% { opacity: 1; transform: scale(1.05); }
    100% { opacity: 0.5; transform: scale(0.95); }
}
.hearts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #f76d6d;
    clip-path: polygon(
        50% 100%,
        100% 50%,
        100% 0,
        50% 25%,
        0 0,
        0 50%
    );
    animation: floatUp 10s linear infinite;
    opacity: 0.7;
}

@keyframes floatUp {
    0% { 
        transform: translateY(100vh);
        opacity: 0.5;
    }
    100% { 
        transform: translateY(-20px);
        opacity: 0.7;
    }
}

.events-container {
    position: absolute;
    bottom: 0;
    font-size: 2em;
    animation: slideUpEvents 10s linear infinite;
}

.event {
    padding: 10px 20px;
    background-color: #f76d6d;
    border-radius: 8px;
    margin-bottom: 30px;
}

/* Animación para desplazar todo el contenedor de eventos */
@keyframes slideUpEvents {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}
